<html>
<body>
<h1>
We're sorry to hear you're still experiencing difficulty with your mails.
Please visit the mail forum to get additional support for your issue. <h1>
<h1>The Chat forum has been closed to new posts in order to focus on connectivity,
 but you can still search the forum for answers to issues or questions.
 <h1>
 </body>
 </html>